/* header style */
/* footer style */
.footer-backdesign {
  background-color: #141414;
  color: #808080;
}
.cursor {
  cursor: pointer;
}
.footer-backpadding {
  padding: 25px;
}
.copy-right {
  padding-bottom: 25px;
  padding-left: 9.5%;
}
